$primary-color: rgba(33,212,253,0.1);
$secondary-color: rgba(183,33,255, 0.1);
$icon-background-color: white;
$box-background-color: black;
$primary-text-color: black;
$secondary-text-color: white;


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
