@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/desk-image.jpeg");
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-size: cover;
}
.home__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__container img {
  object-fit: cover;
  height: 8rem;
  width: auto;
  opacity: 70%;
}
.home__name {
  font-size: 5rem;
  font-weight: 400;
  color: #ffffff;
  padding: 0.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 3px solid #ffffff;
}
.home__name__icon {
  height: 5rem;
}
.home__name--last {
  color: #ff652f;
  font-weight: 700;
}
.home__subtitle {
  color: #ffffff;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  padding-right: 1rem;
  list-style-type: none;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  margin: 2rem;
}
.nav .menu-nav__item.open {
  transform: translateX(0%);
}
.nav .menu-nav__item.active a {
  color: #ff652f;
}
.nav .menu-nav__link {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #ff652f;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.about {
  padding-bottom: 2rem;
}
.about__bio-image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/desk-image.jpeg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about__bio-image p {
  margin-bottom: 2rem;
}
.about p, .about h3, .about h6 {
  color: #ffffff;
}
.about__bio {
  width: 80vw;
  text-align: center;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grif;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs__job {
  background: #414141;
  padding: 1rem;
  border-bottom: 5px solid #ff652f;
}
.about .jobs__job h2, .about .jobs__job h3 {
  margin: 0.6 rem 0;
}
.about .jobs__job h6 {
  margin: 0.3rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-7rem, -9rem);
}

.portfolio {
  padding-bottom: 2rem;
}
.portfolio__bio-image {
  height: 30vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/desk-image.jpeg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.portfolio__bio-image .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.portfolio__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.portfolio__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  border-bottom: 5px solid #ff652f;
  overflow: hidden;
  cursor: pointer;
}
.portfolio__item img {
  object-fit: cover;
}
.portfolio__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ff652f;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.portfolio__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.portfolio__item:hover .portfolio__btn {
  opacity: 1;
}
.portfolio__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.portfolio__btn {
  opacity: 0;
  color: #000000;
  transition: all 0.5s ease-in-out;
}
.portfolio__btn:hover {
  color: #ffffff;
}
.portfolio .social-icons {
  display: flex;
  flex-direction: column;
}
.portfolio footer {
  transform: rotate(90deg) translate(-7rem, -9rem);
}

.contact {
  background-image: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/desk-image.jpeg");
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact__list {
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translate(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .portfolio__bio-image {
    height: 40vh;
  }
  .portfolio__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .text-secondary {
    font-size: 3rem;
  }
}
body {
  background-color: #272727;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

a {
  text-decoration: none;
}

.text-secondary {
  color: #ff652f;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}
header a {
  color: #ffffff;
}
header a:hover {
  transform: scale(1.2);
}

main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
main a:hover {
  transform: scale(1.2);
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  color: #ffffff;
  padding: 0.4rem;
}
main .social-icons a i:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out;
  color: #ff652f;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
